{% extends 'base.html' %}
{% load static %}

{% block content %}


    {% include 'engine/_navigation.html' %}

    <div class="container">
        <div class="content-container">
            <div class="row">
                <div class="col-xs-12">

                    <h2>Add {{ unit }} Goal</h2>

                     <form role="form" method="post" action="">

                            {% csrf_token %}

                            {{ form.errors.name }}
                            {{ form.name }}

                            <div>&nbsp;</div>

                            <button type="submit" class="btn btn-lg btn-block btn-primary">Add {{ unit }} Goal</button>
                            <div>&nbsp;</div>
                            <a href="{% url 'goals' unit.id %}">Cancel</a>

                     </form>


                </div>
            </div>
        </div>
    </div>


{% endblock %}