{% extends 'base.html'%}
{% load static %}

{% block content %}

{% include 'engine/_navigation.html' %}

    <div class="container">

        <div class="content-container">

            <h2>Assign a Task</h2>
            <p class="lead">This will be added to your task list for your goal to <b>{{ goal }}</b>.</p>

            <form role="form" method="post" action="">

                {% csrf_token %}

                <div class="form-group">

                    <label for="title">Title</label>
                    {{ form.title.errors }}
                    {{ form.title }}

                    <div>&nbsp;</div>

                    <label for="description">Description</label>
                    {{ form.description.errors }}
                    {{ form.description }}

                    <div>&nbsp;</div>

                    <label for="assignee">Assign to User</label>
                    {{ form.assignee.errors }}
                    {{ form.assignee }}


                    <div>&nbsp;</div>


                </div>

                <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                <div>&nbsp;</div>
                <a href="{% url 'dashboard' %}">Cancel</a>

            </form>

        </div>

    </div>


{% endblock %}