{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    {% include 'engine/_navigation.html' %}

    <div class="container">
        <div class="content-container">
            <div class="row">
                <div class="col-xs-12">

                    <h2>Goals for {{ unit }}</h2>

                    <ul class="list-group">
                    {% for g in goals %}
                        <li class="list-group-item"><a href="">{{ g }}</a></li>
                    {% empty %}
                        <p>You haven't entered any goals for this business unit.</p>
                    {% endfor %}
                    </ul>

                    <a href="" class="btn btn-block btn-lg btn-primary">Add New Goal</a>

                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block extra_js %}


{% endblock %}