{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'engine/_navigation.html' %}

    <div class="container">
        <div class="content-container">
            <div class="row">
                <div class="col-xs-12">

                    <h2>Dashboard</h2>
                    <p class="lead">Your organization's business units are listed below. Click to view your organizational goals within each department.</p>

                    <ul class="list-group">
                    {% for unit in biz_units %}
                        <li class="list-group-item clearfix">
                            <div class="pull-left">
                                <a href="{% url 'goals' unit.id %}">{{ unit }}</a>
                            </div>
                            <div class="pull-right">
                                &nbsp;
                            </div>
                        </li>
                    {% empty %}
                        <p>You haven't entered any business units.</p>
                    {% endfor %}
                    </ul>

                    <a href="{% url 'add-unit' %}" class="btn btn-lg btn-primary">Add new Business Unit</a>

                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block extra_js %}


{% endblock %}