{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'engine/_navigation.html' %}

    <div class="container">
        <div class="content-container">
            <div class="row">
                <div class="col-xs-12">

                    <h2>Tasks for {{ goal }}</h2>

                    <ul class="list-group">
                    {% for task in tasks %}
                        <li class="list-group-item clearfix">
                            <div class="pull-left">
                                <span class="status-green">&nbsp;</span><a href="{% url 'task-detail' task.id %}">{{ task }}</a>
                            </div>
                            <div class="pull-right">
                                Owner: <b>{{ task.list.owner }}</b>
                            </div>

                        </li>
                    {% empty %}
                        <p class="lead">You haven't entered any tasks for this goal.</p>
                    {% endfor %}
                    </ul>




                    <a href="{% url 'assign-task' goal.id %}" class="btn btn-lg btn-primary">Add New Task</a>
                    <div>&nbsp;</div>
                    <a href="{% url 'goals' goal.business_unit.pk %}">Back to <b>{{ goal.business_unit }}</b> Goals</a>


                    <hr />

                    {% if completed_tasks %}
                    <h3>Completed Tasks</h3>
                    <ul>
                    {% for task in completed_tasks %}
                        <li><b><del>{{ task }}</del></b>&nbsp;&nbsp;&nbsp;<small>Completed by <b>{{ task.list.owner }}</b></small></li>
                    {% endfor %}
                    </ul>
                    {% endif %}



                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block extra_js %}


{% endblock %}