{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    {% include 'engine/_navigation.html' %}

    <div class="container">
        <div class="content-container">
            <div class="row">
                <div class="col-xs-12">

                    <h2>Tasks for {{ goal }}</h2>

                     <ul class="list-group">
                    {% for task in tasks %}
                        <li class="list-group-item"><span class="status-green">&nbsp;</span><a href="{% url 'task-detail' task.id %}">{{ task }}</a></li>
                    {% empty %}
                        <p class="lead">You haven't entered any taks for this goal.</p>
                    {% endfor %}
                    </ul>

                    <a href="{% url 'assign-task' goal.id %}" class="btn btn-block btn-lg btn-primary">Add New Task</a>
                    <div>&nbsp;</div>
                    <a href="{% url 'goals' goal.business_unit.pk %}">Back to <b>{{ goal.business_unit }}</b> Goals</a>



                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block extra_js %}


{% endblock %}