{% extends 'base.html'%}
{% load static %}

{% block content %}

    {% include 'engine/_navigation.html' %}

    <div class="container">

      <div class="content-container">
        <h2>Welp, here it is.</h2>
        <p class="lead">See who's working on what within your organization.</p>

        {% if not user.is_authenticated %}
            <a href="{% url 'login' %}" class="btn btn-block btn-lg btn-primary">Login</a>
            <a href="{% url 'signup' %}" class="btn btn-block btn-lg btn-primary">Sign Up</a>
        {% else %}
            <a href="{% url 'dashboard' %}" class="btn btn-block btn-lg btn-primary">Let's Roll!</a>
        {% endif %}



      </div>

    </div><!-- /.container -->

{% endblock %}


{% block extra_js %}

    <script>

        $('.complete-btn').click(function() {
            event.preventDefault();

            var pk = $(this).data('task-id');
            var url = '/complete-task/' + pk + '/';

            $.ajax({
                type: 'POST',
                url: url,
                dataType: 'json',
                async: true,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    pk: pk,
                },
                success: function(json) {
                     //alert('It worked!');
                    //
                }
            });

            // Made the li fade away
            $(this).parent().fadeOut();

        });


        $(':checkbox').checkbox();
    </script>

{% endblock %}
