{% extends 'base.html'%}
{% load static %}

{% block content %}

    {% include 'engine/_navigation.html' %}

    <div class="container">

      <div class="content-container">



        <div class="task-header clearfix">

                <h1>{{ task }}</h1>

                <!--<h3>Current status: {{ task.status }}</h3>-->

                {% if user == task.list.owner %}

                    <div>&nbsp;</div>

                    <button id="good" {% if task.status == 'good' %}class="btn btn-success"{% else %}class="btn btn-default"{% endif %} data-task-id="{{ task.id }}">I'm Good</button>
                    <button id="help" {% if task.status == 'help' %}class="btn btn-warning"{% else %}class="btn btn-default"{% endif %} data-task-id="{{ task.id }}">I need help</button>
                    <button id="trouble" {% if task.status == 'trouble' %}class="btn btn-danger"{% else %}class="btn btn-default"{% endif %} data-task-id="{{ task.id }}">I'm in trouble</button>

                    <div>&nbsp;</div>
                    <hr />

                {% endif %}



                <p>
                    <b>Created by:</b> {{ creator }} on {{ task.created }}<b><br />
                    Assigned to:</b>&nbsp;{{ task.list.owner.get_full_name }}<br />
                    <b>Due on:</b>
                </p>


{#            {% if user == task.list.owner %}#}
{#            <div class="pull-right">#}
{#                <div>&nbsp;</div>#}
{#                <h4>Task Status:</h4>#}
{#                <form role="form" method="post" action="">#}
{#                    {% csrf_token %}#}
{#                    {{ form.status }}#}
{#                    <!--<button type="submit">Update Status</button>-->#}
{#                </form>#}
{#            </div>#}
{#            {% endif %}#}

        </div>


        <h4>Description:</h4>
        {% if description %}
        <p>{{ description }}</p>
        {% else %}
        <em>None provided</em>
        {% endif %}


        <hr />

        <h4>Comments:</h4>
        {% if comments %}
        <ul>
        {% for comment in comments %}
            <blockquote>{{ comment.text }}<br /><small><b>{{ comment.author.get_full_name }}</b> on {{ comment.created }}</small></blockquote>

        {% endfor %}
        </ul>
        {% endif %}
        <a href="{% url 'add-comment' task.id %}">Add Comment</a>
        <hr />

        <h4>Resources:</h4>
        {% if resources %}
        <ul>
        {% for resource in resources %}
            <li><a href="{{ resource.link }}" target="_blank">{{ resource }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}

        <a href="{% url 'add-resource' task.id %}">Add Resource</a>
        <hr />


{#        {% if task.from_admin and not task.complete %}#}
{##}
{#            <a href="{% url 'accept-task' task.id %}" class="btn btn-block btn-lg btn-warning">Add to My List</a>#}
{#            <a href="{% url 'delete-task' task.id %}" class="btn btn-block btn-lg btn-danger">Delete</a>#}
{##}
{#        {% elif not task.from_admin and not task.complete%}#}
{##}
{#            <a href="{% url 'complete-task' task.id %}" class="btn btn-lg btn-primary">Complete Task</a>#}
{##}
{#        {% endif %}#}


{#        {{ user }}#}
{#        {{ task.list.owner }}#}


        {% if user == task.list.owner %}
        <a href="{% url 'complete-task' task.id %}" class="btn btn-lg btn-primary">Complete Task</a>
        {% endif %}

        <div>&nbsp;</div>
        <a href="{% url 'goals-detail' task.goal.pk %}">Back to Goals for <b>{{ task.goal }}</b></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{% url 'tasks' %}">View My Tasks</a>

        <div>&nbsp;</div>
        <div>&nbsp;</div>
      </div>

    </div><!-- /.container -->



{% endblock %}


{% block extra_js %}

{#    <script>#}
{##}
{#        $( "select#id_status" ).change(function() {#}
{##}
{##}
{##}
{#            var pk = {{ task.id }};#}
{#            var status = $(this).val();#}
{##}
{#            var url = '/task/update/' + pk + '/' + status + '/';#}
{##}
{#            //alert(status);#}
{#            //alert(url);#}
{##}
{##}
{#            $.ajax({#}
{#                type: 'POST',#}
{#                url: url,#}
{#                dataType: 'json',#}
{#                async: true,#}
{#                data: {#}
{#                    csrfmiddlewaretoken: '{{ csrf_token }}',#}
{#                    pk: pk,#}
{#                    status: status,#}
{#                },#}
{#                success: function(json) {#}
{##}
{#                }#}
{#            });#}
{##}
{##}
{#        });#}
{##}
{#    </script>#}

    <script>


        $('button#good').click(function() {

            var pk = $(this).data('task-id');
            var url = '/update-task-good/' + pk + '/';

            $.ajax({
                type: 'POST',
                url: url,
                dataType: 'json',
                async: true,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    pk: pk,
                },
                success: function(json) {

                }
            });

            $('button#good').addClass('btn-success');
            $('button#help').removeClass('btn-warning').addClass('btn-default');
            $('button#trouble').removeClass('btn-danger').addClass('btn-default');

        });



        $('button#help').click(function() {

            var pk = $(this).data('task-id');
            var url = '/update-task-help/' + pk + '/';

            $.ajax({
                type: 'POST',
                url: url,
                dataType: 'json',
                async: true,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    pk: pk,
                },
                success: function(json) {

                }
            });

            $('button#good').removeClass('btn-success').addClass('btn-default');
            $('button#help').addClass('btn-warning');
            $('button#trouble').removeClass('btn-danger').addClass('btn-default');

        });




        $('button#trouble').click(function() {

            var pk = $(this).data('task-id');
            var url = '/update-task-trouble/' + pk + '/';

            $.ajax({
                type: 'POST',
                url: url,
                dataType: 'json',
                async: true,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    pk: pk,
                },
                success: function(json) {

                }
            });


            $('button#good').removeClass('btn-success').addClass('btn-default');
            $('button#help').removeClass('btn-warning').addClass('btn-default');
            $('button#trouble').addClass('btn-danger');

        });

    </script>

{% endblock %}


