{% extends 'base.html'%}
{% load static %}

{% block content %}

    {% include 'engine/_navigation.html' %}

    <div class="container">

      <div class="content-container">



        <h3 id="pending-tasks">Pending Tasks</h3>
        <ul class="list-group" id="assigned-tasks">
        {% for task in assigned_tasks %}
            <li class="list-group-item task clearfix">
                <span class="pull-left">{{ task }}</span>
                <a href class="btn btn-warning btn-sm accept-btn pull-right" data-task-id="{{ task.id }}">Add!</a>
            </li>
        {% endfor %}
        </ul>

        <h3 id="user-tasks">Your Tasks</h3>
        <ul class="list-group" id="user-tasks">
        {% for task in tasks %}
            <li class="list-group-item task clearfix">
                <span class="pull-left">{{ task }}</span>
                <a href class="btn btn-primary btn-sm complete-btn pull-right" data-task-id="{{ task.id }}">Done</a>
            </li>
        {% endfor %}
        </ul>


        <a href="{% url 'add-task' %}" class="btn btn-block btn-lg btn-primary">Create a new task</a>



        <div>&nbsp;</div>
        <a href="{% url 'assign-task' %}" class="btn btn-block btn-lg btn-warning">Assign a task</a>




      </div>

    </div><!-- /.container -->

{% endblock %}


{% block extra_js %}

    <script>



        $('.complete-btn').click(function() {

            var pk = $(this).data('task-id');
            var url = '/complete-task/' + pk + '/';

            $.ajax({
                type: 'POST',
                url: url,
                dataType: 'json',
                async: true,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    pk: pk,
                },
                success: function(json) {

                }
            });

            // Made the li fade away
            $(this).parent().remove();

        });


        $('.accept-btn').click(function() {
            var pk = $(this).data('task-id');
            var url = '/accept-task/' + pk + '/';

            $.ajax({
                type: 'POST',
                url: url,
                dataType: 'json',
                async: true,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    pk: pk,
                },
                success: function(json) {

                }
            });

            // Move this to the user task list
            $(this).html('Done').removeClass('btn-warning accept-btn').addClass('btn-primary complete-btn').parent().appendTo('ul#user-tasks');


        });

    </script>

{% endblock %}
