{% extends 'base.html'%}
{% load static %}

{% block content %}

    {% include 'engine/_navigation.html' %}

    <div class="container">

      <div class="content-container">

        <ul class="list-group" id="assigned-tasks">
        {% for task in assigned_tasks %}
            <li class="list-group-item task clearfix">
                <span class="pull-left">{{ task }}</span>
                <a href class="btn btn-warning btn-sm accept-btn pull-right" data-task-id="{{ task.id }}">Add!</a>
            </li>
        {% endfor %}
        </ul>

        <h3>Your Tasks</h3>
        <ul class="list-group" id="user-tasks">
        {% for task in tasks %}
            <li class="list-group-item task clearfix">
                <span class="pull-left">{{ task }}</span>
                <a href class="btn btn-primary btn-sm complete-btn pull-right" data-task-id="{{ task.id }}">Done</a>
            </li>
        {% endfor %}
        </ul>

        <a href="{% url 'add-task' %}" class="btn btn-block btn-lg btn-primary">Create a new task</a>

        {% if user.profile.is_admin %}
            <div>&nbsp;</div>
            <a href="{% url 'assign-task' %}" class="btn btn-block btn-lg btn-primary">Assign a task</a>
        {% endif %}



      </div>

    </div><!-- /.container -->

{% endblock %}


{% block extra_js %}

    <script>

        $('.complete-btn').click(function() {
            event.preventDefault();

            var pk = $(this).data('task-id');
            var url = '/complete-task/' + pk + '/';

            $.ajax({
                type: 'POST',
                url: url,
                dataType: 'json',
                async: true,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    pk: pk,
                },
                success: function(json) {
                     //alert('It worked!');
                    //
                }
            });

            // Made the li fade away
            $(this).parent().fadeOut();

        });


        $('.accept-btn').click(function() {
            event.preventDefault();

            var pk = $(this).data('task-id');
            var url = '/accept-task/' + pk + '/';

            $.ajax({
                type: 'POST',
                url: url,
                dataType: 'json',
                async: true,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    pk: pk,
                },
                success: function(json) {
                     //alert('It worked!');
                    //
                }
            });

            // Move this to the user task list

            $(this).parent().appendTo('ul#user-tasks');



        });


        $(':checkbox').checkbox();
    </script>

{% endblock %}
