{% extends 'base.html'%}
{% load static %}

{% block content %}

    {% include 'engine/_navigation.html' %}

    <div class="container">

      <div class="content-container">



        <div class="task-header clearfix">
            <div class="pull-left">
                <h1>{{ task }}</h1>
                <p><b>Created by:</b> {{ creator }} on {{ task.created }}<b></p>
                <p>Assigned to:</b>&nbsp;{{ task.list.owner.get_full_name }}&nbsp;&nbsp;</p>
                <p><b>Due on:</b></p>
            </div>

            <div class="pull-right">
                <div>&nbsp;</div>
                <h4>Task Status:</h4>
                <form role="form" method="post" action="">
                    {% csrf_token %}
                    {{ form.status }}
                    <!--<button type="submit">Update Status</button>-->
                </form>
            </div>

        </div>




        <hr />

        <h4>Comments:</h4>
        <p>{{ description }}</p>
        <a href="">Add Comment</a>
        <hr />

        <h4>Resources:</h4>

        <a href="">Add Resource</a>
        <hr />


        <div>&nbsp;</div>


{#        {% if task.from_admin and not task.complete %}#}
{##}
{#            <a href="{% url 'accept-task' task.id %}" class="btn btn-block btn-lg btn-warning">Add to My List</a>#}
{#            <a href="{% url 'delete-task' task.id %}" class="btn btn-block btn-lg btn-danger">Delete</a>#}
{##}
{#        {% elif not task.from_admin and not task.complete%}#}
{##}
{#            <a href="{% url 'complete-task' task.id %}" class="btn btn-lg btn-primary">Complete Task</a>#}
{##}
{#        {% endif %}#}


        <a href="{% url 'complete-task' task.id %}" class="btn btn-lg btn-primary">Complete Task</a>

        <div>&nbsp;</div>
        <a href="{% url 'goals-detail' task.goal.pk %}">Back to Goals for <b>{{ task.goal }}</b></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{% url 'tasks' %}">View My Tasks</a>


      </div>

    </div><!-- /.container -->



{% endblock %}


{% block extra_js %}

    <script>

        $( "select#id_status" ).change(function() {


            alert( "Handler for .change() called." );

        });

    </script>

{% endblock %}


