{% extends 'base.html'%}
{% load static %}

{% block content %}


    <div class="container">

        <div class="content-container">

            <div class="row">

                <div class="col-xs-12">

                    <h2>Sign In</h2>

                    <form method="post" action="{% url 'login' %}" role="form">

                            {% csrf_token %}

                            <div class="form-group grouped-inputs">

                                {{ form.errors.email }}
                                {{ form.email }}

                                {{ form.erros.password }}
                                {{ form.password }}

                            </div>

                            <button type="submit" class="btn btn-block btn-lg btn-primary">Log in</button>

                        </form>

                        <div>&nbsp;</div>

                        <p>Don't have an account?</p>
                        <p><a href="{% url 'signup' %}{% if next %}?next={{ next }}{% endif %}">Sign up free</a></p>

                </div> <!--/col-->

            </div> <!--/row-->

        </div> <!--/content-container-->

    </div> <!--/container-->


{% endblock %}