{% extends 'base.html'%}
{% load static %}

{% block content %}


    <div class="container">

        <div class="content-container">

            <div class="row">

                <div class="col-xs-12">

                    <h2>Sign Up</h2>

                    <form method="post" action="{% url 'signup' %}" role="form">

                            {% csrf_token %}

                            <div class="form-group grouped-inputs">

                                    {{ form.first_name.errors }}
                                    {{ form.first_name }}


                                    {{ form.last_name.errors }}
                                    {{ form.last_name }}


                                    {{ form.email.errors|safe }}
                                    {{ form.email }}


                                    {{ form.password.errors }}
                                    {{ form.password }}

                            </div>

                            <button type="submit" class="btn btn-block btn-lg btn-primary">Log in</button>

                        </form>

                       <div>&nbsp;</div>

                       <p>Already have an account?</p>
                       <p><a href="{% url 'login' %}"> Log in now.</a></p>


                </div> <!--/col-->

            </div> <!--/row-->

        </div> <!--/content-container-->

    </div> <!--/container-->


{% endblock %}